{% extends 'templates/base.html' %}
{% block title %}
    Вход
{% endblock %}
{% block content %}
    <div class="container">

        <div class="page-header">
            <h1>Duckoin - об уточках</h1>
        </div>

        <p>Мы хотим изменить мир к лучшему и внести свой личный <b>вклад</b> в общее дело.
            Но не всегда понятно, что <em>важнее</em>, сделал ли я <em>достаточно</em> и
            нужно ли <em>еще</em>?</p>

        <p>Только когда мы действуем вместе, мы можем организоваться, выбрать главные
            направления, вдохновить и <b>смотивировать</b> друг друга. Если друзья явно и открыто
            поддерживают нас, мы понимаем, что все не зря и нужно продолжать.
            Не стесняйтесь открыто и громко <b>ценить чужой вклад</b>. Это порой также важно,
            как и делать что-то самому!</p>

        <p>Чтобы поддержать товарища в том, что он делает, мы предлагаем послать ему
            символическую виртуальную <b>уточку</b>. Чем больше волонтеры ценят вклад волонтера,
            тем больше уточек он получит. Чем больше он получит, тем больше сможет разослать другим.</p>

        <p>У вас может появиться ваш <b>личный индикатор величины вклада</b>: сколько уточек вы
            получили и разослали другим в поддержку за последний месяц и всего. Накапливать
            уточек на счету смысла нет, поскольку его ни на что не влияет, мы показываем только то,
            сколько через ваш счет проходит.</p>

        <p>Поощряйте то, что вы считаете наиболее <b>важным</b>, и волонтеров, которые трудятся
            наиболее <b>эффективно</b>, и тогда вы сможете немного повлиять на то, что делают другие.
            Чем больше уточек вы получаете и можете переслать, тем больше ваше влияние на других
            волонтеров.</p>

        <p><b>Раз в неделю</b> вы можете получить <b>7 уточек</b> и решить, кого вы хотите поддержать.
            Эти уточки не учитываются в вашем личном индикаторе вклада. Вы можете просто
            перевести их тому, кто на ваш взгляд лучше ими распорядится, либо послать в поддержку,
            обязательно указав, какое дело вы оценили. Тогда полученные уточки будут учтены
            в личном индикаторе вклада волонтера.</p>

        <p>Переводить или посылать в поддержку можно указав номер счета, e-mail, адрес профиля
            в ВКонтакте или Twitter.</p>

    </div>
{% endblock %}